<div class="detail">
  <h2>🛒 Cart</h2>

  <div class="cart-items">
    @for (item of cart.getItems(); track item.id) {
      <div class="cart-card">

        <img [src]="item.image" />

        <div class="info">
          <h3>{{ item.name }}</h3>
          <p>💰 {{ item.price }}$</p>

          <div class="actions">

            <button (click)="like(item)">
      {{ item.liked ? '❤️' : '🤍' }}
            </button>

            <button (click)="add(item)">
              ➕
            </button>

            <button (click)="remove(item.id)">
              ❌
            </button>

          </div>
        </div>
      </div>
    }
  </div>
  <div class="cart-summary">
    <h3>💰 Total: {{ getTotal() }} $</h3>

    <button class="buy-btn" (click)="buy()">
      🛍 Buy
    </button>
  </div>
  <div class="notification" *ngIf="showNotification">
    {{ message }}
  </div>
</div>